body {
	padding-top: 50px;
	background-color: Wheat;
}
.navbar-brand {
	color: White;
}
.custom-nav-text {
	color: White;
	font-size: 1.5rem;
}
.navbar-toggle {
	border-color: White;
}
.icon-bar {
	background-color: White;
}
.custom-nav-color {
	background-color: FireBrick;
}
.extra-padding {
	padding-top: 0em;
	padding-bottom: 1rem;
}
.padding-bottom {
	padding-bottom: 0.5rem;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.section {
	font-size: 1.7rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.row {
	padding: 3rem;
}
